.newsletter{
	padding: 1em 0;
	background: @grey;
	color: @black;
	text-transform: uppercase;
	text-align: center;

	label{
		display: inline-block;
		margin-bottom: 0.5em;
		font-size: 1.4em;
		width: auto;
	}

	.email-input{
		width: auto;
		margin-top: 0.25em;
	}

	input, button{
		float: left;
		height: 40px;
	}

	input{
		width: 80%;
		border-radius: 4px 0 0 4px;
	}

	.button{
		width: 20%;
		border-radius: 0 4px 4px 0;
		background: @black;
		padding: 0;

		&:hover{
			padding-top: 0.5em;
		}
	}
}

footer{
	padding-top: 1.5em;
	text-align: center;

	.footer-list{
		margin-bottom: 1.5em;
	}

	h4{
		margin-bottom: 0.5em;
		color: @grey;
	}

	li{
		margin-bottom: 0.75em;
		color: @black;
		font: @gotham-medium;
		font-size: 0.9em;

		a:not(.button){
			.transition;

			&:hover{
				color: @lightgreen;
			}
		}
	}

	.button{
		width: 65%;
		height: 45px;
		background: @black;

		img{
			width: 100px;
		}
	}
}

.footer-contact-list{

	li{
		font-size: 1em;
	}
}

footer .footer-download-list{
	padding-right: 0;

	.button{
		padding: 0.9em 4em 0;

		&:hover{
			padding-top: 1.1em;
		}
	}
}

@media only screen and (min-width : 37.5em) { /* 600px */

	footer button img{
		width: 100%;
	}

	.footer-list{
		width: 50%;
		float: left;
		height: 150px;
	}
}


@media only screen and (min-width : 50em) { /* 800px */

	.newsletter{
		height: 3em;
		line-height: 3em;

		label{
			float: left;
			text-align: left;
			width: 67.66666667%;
			font-size: 0.8em;
		}

		.email-input{
			float: left;
			width: 32.3333333%;
		}
	}
}

@media only screen and (min-width : 56.25em) { /* 900px */

	.footer-list{
		width: 25%;
		padding-right: 2em;
		text-align: left;
		.box-sizing;

		.button{
			width: 100%;
		}
	}
}

@media only screen and (min-width : 68.75em) { /* 1100px */

	.newsletter{

		label{
			font-size: 0.8em;
			width: 55%;
		}

		.email-input{
			width: 43%;
		}
	}

}