.form-page{
	background: @grey;
	padding-bottom: 4em;
}

.form-page-inner{
	background: @white;
	border-radius: 8px;
	padding: 1em 2em;
	.box-sizing;
	color: @black;

	form{
		width: 100%;
		margin-top: 2em;
	}

	h3{
		margin-bottom: 0.25em;
		color: @lightgreen;
		font-size: 2em;
	}

	h4{
		margin-bottom: 1em;
	}

	a{
		text-decoration: underline;
		.transition;

		&:hover{
			color: @lightgreen;
		}
	}

	.fsRowBody, .fsSubField{
		display: inline-block;
		width: 100%;
		margin-bottom: 1.5em;
	}

	label{
		margin-bottom: 0.5em;
	}

	label, input, textarea{
		display: block;
		width: 100%;
	}

	input, textarea{
		background: @lightgrey;
	}

	.button{
		background: @lightgreen;
		float: right;
		width: 100%;
		margin-top: 2em;
	}
}

.fsError{
	background: @red;
	color: @white;
	padding: 1em;
	margin-bottom: 1em;
}

@media only screen and (min-width : 30em) { /* 480px */

	.form-page-inner{

		.button{
			width: 25%;
		}
	}
}

@media only screen and (min-width : 50em) { /* 800px */

	.form-page-inner{

		form, p{
			width: 80%;
		}

		label, input, textarea{
			float: left;
			width: 50%;
			line-height: 2;
			.box-sizing;
		}

		.fsRowBody{
			margin-bottom: 0.5em;
		}

		.button{
			width: 25%;
		}
	}
}