.merchant-solutions-horizontal, .merchant-solutions-vertical{

	p{
		font-size: 1.2em;
	}
}
.merchant-solutions-horizontal{

	img{
		width: 100%;
	}
}
.merchant-solutions-vertical{

	h3{
		margin-bottom: 1em;
	}

	img, p{
		float: right;
		width: 50%;
		.box-sizing;
	}

	img{
		width: 50%;
		padding-right: 2em;
	}

	p{
		width: 50%;
	}
}