.merchant-solutions{

	.standard-section{
		padding-top: 0;
	}

	h3{
		padding-top: 1em;
	}

	p{
		font-size: 1.2em;
	}

}

.merchant-solutions-horizontal{

	img{
		width: 100%;
	}
}

.merchant-solutions-horizontal, .merchant-solutions-vertical, .basic-vertical{

	.standard-section-image, p{
		display: block;
		width: 100%;
	}
}

.jobs, .media, .form-confirm{

	.standard-section{

		h3{
			margin-bottom: 0.5em;
		}

		a{
			text-decoration: underline;
			.transition;

			&:hover{
				color: @lightgreen;
			}
		}

		p{
			margin-bottom: 0;
		}
	}

	li{
		margin-bottom: 0.5em;
		color: @black;
	}
}

.job-item, .press-item{
	margin-bottom: 2em;
	padding-bottom: 2em;
	border-bottom: 1px dashed @black;

	&:last-child{
		margin: 0;
		padding: 0;
		border: 0;
	}
}

.press-item{
	margin-bottom: 1em;
	padding-bottom: 1em;
}


.press .press-item{
	display: inline-block;
	width: 100%;
	text-align: center;

	h4{
		margin: 0;
		text-decoration: none;
		text-transform: none;
		color: @black;
		font-family: @sans-regular;
		.transition;
	}

	a:hover h4{
		text-decoration: underline;
		color: @lightgreen;
	}
}

.press-item-logo{
	width: 100px;
	margin: 0 auto;
}

@media only screen and (min-width : 50em) { /* 800px */

	.merchant-solutions-vertical, .distribution-network, .basic-vertical{

		h3{
			margin-bottom: 0.5em;
		}

		.standard-section-image{
			width: 33.3333333%;
			text-align: center;
			padding-top: 0.5em;
		}

		p{
			width: 66.6666666%;
		}

		.standard-section-image, p{
			float: right;
			.box-sizing;
		}

		p{
			padding-left: 2em;
		}

		img{
			width: auto;
		}
	}

	.press .press-item{

		h4, .press-item-logo{
			float: left;
			margin: auto;
		}

		h4{
			padding-left: 2em;
			line-height: 100px;
		}
	}
}