/* GLOBAL SUB-SECTION STYLES */
.sub-section-header{
	padding: 0.8em 0;

	h2{
		float: left;
		width: 100%;
		text-align: center;
		line-height: 1;
	}
}

.learn-more-button-desktop{
	display: none;
}

.learn-more-button-mobile{
	float: right;
	font-size: 2.3em;
	padding: 0.2em 0.2em 0.1em;
}

.sub-section-body{
	padding: 2em 0;
	color: @white;
	.clearfix;

	h3{
		margin: 0.5em 0;
	}

	p{
		font-family: @sans-regular;
	}
}

.sub-section-item{
	padding: 1em 1.5em;
	text-align: center;
	.box-sizing;

	a{
		text-decoration: underline;
	}
}

.sub-section-icon{
	width: 30%;
}

/* SPECIFIC SUB-SECTION STYLES */
.first-sub-section{
	background: @lightblue;

	.sub-section-header{
		background: @blue;
	}

	.learn-more-button-desktop, .learn-more-button-mobile{
		background: @darkblue;
	}
}

.second-sub-section{
	background: @lightgreen;

	.sub-section-header{
		background: @green;
	}

	.learn-more-button-desktop, .learn-more-button-mobile{
		background: @darkgreen;
	}
}

.third-sub-section{
	background: @lightred;

	.sub-section-header{
		background: @red;
	}

	.learn-more-button-desktop, .learn-more-button-mobile{
		background: @darkred;
	}
}

@media only screen and (min-width : 30em) { /* 480px */

	.learn-more-button-desktop{
		display: inline-block;
		float: right;
	}

	.learn-more-button-mobile{
		display: none;
	}

	.last-sub-section-item{
		float: none;
		margin: 0 auto;
	}
}

@media only screen and (min-width : 37.5em) { /* 600px */

	.sub-section-header{

		h2{
			line-height: 1.4;
		}
	}

	.sub-section-item{
		float: left;
		width: 50%;
	}

	.last-sub-section-item{
		float: none;
	}
}
@media only screen and (min-width : 60em) { /* 960px */

	.sub-section-item{
		width: 33.33333334%;
	}

	.last-sub-section-item{
		float: left;
	}
}
